<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddressBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <nav id="navBar" class="nav navbar-expand-md">
            <div id="navContent" class="container">
                <a class="navbar-brand " href="/">Address Book</a>
                <span class="p-2 flex-grow-1"></span>
                <a id="" href="/new" class="nav-link">Add new Contact</a>
            </div>
        </nav>
    </div>