<div class="container">
    <nav id="navBar" class="nav navbar-expand-md">
        <div id="navContent" class="container">
            <a class="navbar-brand " href="/">Address Book</a>
            <a href="/index" class="nav-link">Index</a>
            <span class="p-2 flex-grow-1"></span>
            <a href="#" class="nav-link">Sign Up</a>
            <a href="#" class="nav-link">Login</a>
        </div>
    </nav>
</div>