<% include partials/header %>
<% include partials/navbar %>

<div class="container mainBody">
    <div class="row justify-content-between">
        <div class="col-3">
            <a href="/new">
                <button class="btn btn-outline-primary">Add new Contact</button>
            </a>
        </div>
        <span class="p-2 flex-grow-1"></span>
        <div class="col-6">
            <form class="row justify-content-center" action="/index/search" method="GET">
                <div class="col-sm-12 col-md-9">
                    <input name="search" type="text" class="form-control" placeholder="...">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mainBody">
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Tel. Number</th>
                <th scope="col">E-mail Address</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach((contacts) => { %>
            <tr data-href="/index/show/<%=contacts._id%>" class="addressRow">
                <td> <%= contacts.name %></td>
                <td> <%= contacts.cell %></td>
                <td> <%= contacts.email %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div>
    <img src="" alt="">
</div>

<script src="/javascript/script.js"></script>

<% include partials/footer %>