<% include partials/header %>

<div class="container">
    <div class="row justify-content-center">
        <input type="text"class="form-control searchBar" placeholder="...">
        <button type="button" class="btn btn-outline-primary searchBar">Search</button>
    </div>
</div>

    <div class="container">
            <table class="table table-responsive-md">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Tel. Number</th>
                  <th scope="col" class="d-none d-md-table-cell">E-mail Address</th>
                </tr>
              </thead>
              <tbody>
                <% contacts.forEach((contacts) => { %>
                    <tr class="addressRow">
                        <td> <%= contacts.name %></td>
                        <td> <%= contacts.cell %></td>
                        <td> <%= contacts.email %></td>
                        <td class="idLink"><a href="/<%= contacts._id %>">Edit</a></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

<% include partials/footer %>