<% include partials/header %>

<div class="container">
    <form action="/random" method="POST">
        <div class="form-group row justify-content-center">
            <button class="btn btn-primary" type="submit">Add Random Contact!</button>
        </div>
    </form>
</div>

<% include partials/footer %>