:root {
    --darkblue:#00396E;
    --blueHighlight:#4091F9;
    --colorWhite:#F5F9FF;
    --colorBeige: #F1F1E6;
}

body {
    background-color: var(--colorBeige);;
    color: var(--darkblue);
}

.nav {
    background: var(--darkblue);
    border-radius: 4px;
}

#navContent {
    display: inline-flex;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-brand, .nav-link {
    color: var(--colorWhite);
    border: var(--blueHighlight) 1px solid;
    border-radius: 0.25rem;
    padding-left: 0.3125rem ;
    padding-right: 0.3125rem ;
    margin: 1% 1%;
}

.searchBar {
    max-width: 40%;
    margin: 1% 1%;
}

.list-group-item {
    margin-left: auto;
    margin-right: auto;
}

.idLink {
    display: table-cell;
}

tr:hover .idLink {
    display: table-cell;
}

.table th {
    background: var(--darkblue);
    color: var(--colorWhite);
}

.table th:first-of-type {
    border-top-left-radius: 1rem;
}

.table th:last-of-type {
    border-top-right-radius: 1rem;
}

tr:hover td{
    background-color: var(--colorBeige);
}

tr td {
    background: var(--colorWhite);
    color: var(--darkblue);
    padding: 1px;
    margin: 1px;
}

tr td:not(:last-of-type), tr th:not(:last-of-type) {
    border-right: 1px solid #dee2e6;
}

tr:last-of-type td:first-child{
    border-bottom-left-radius: 1rem;
}

tr:last-of-type td:last-child {
    border-bottom-right-radius: 1rem;
}

.mainBody {
    margin-top: 20px;
}

#newContactDiv {
    background: var(--colorBeige);
    margin: 20px auto;
    padding: 5px;
    border: 2px solid var(--darkblue);
    border-radius: 1rem;
}

.btn-outline-primary {
    color: var(--blueHighlight);
    border-color: var(--blueHighlight);
    background-color: var(--colorWhite);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#copyright {
    font-size: 0.5em;
}

#editTitle {
    font-size: 2em;
}
